title {
    text-align: center;
}
body {
    /*
    background-color: rgb(144, 216, 238);
    */
    background-color: #00bfe6;
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-size: 1.5em;
    border: solid skyblue;
    color: white;
    border-width: 150px 50px 50px 50px;
    margin-left: 0px; 
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    min-height: 737px;
}
p {
    text-indent: 80px;
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
}
h1.title{
    color: paleturquoise;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2.5em;
}
img.github{
    position: absolute;
    top: 10px;
    right: 100px;
    height: 120px;
    width: 120px;
}
img.floatleft{
    float: left;
}
img.floatright{
    float: right;
}
ul{
    margin-left: 25%;
    text-align: left;
    list-style-position: outside;
    list-style-type: circle;
}
img.border{
    border: 5px solid skyblue;
    border-radius: 4px;
}
a {
    text-decoration: underline;
    color: #ffea00;
    text-decoration: none;
}
a:hover {
    color: rgb(233, 198, 0);
}
div.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lemonchiffon;
}

div.menu li {
    float: left;
    margin-left: 1.12%;
    margin-right: 1.12%;
}
div.menu li.selected {
    float: left;
    margin-left: 1.12%;
    margin-right: 1.12%;
    background-color: #00bfe6;
}

div.menu li a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: block;
    color: black;
    text-align: center;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    text-decoration: none;
}
div.menu li a:hover {
    color: white;
    background-color: rgb(255, 233, 107);
}

div.menu li.selected a.selected{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: block;
    color: white;
    text-align: center;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    text-decoration: none;
}
div.menu li.selected a.selected:hover {
    color: white;
    background-color: rgb(52, 198, 255);
}
