title {
    text-align: center;
}

body {
    background-color: rgb(144, 216, 238);
    font-family: 'Merriweather', serif;
    text-align: center;
    font-size: 1.5em;
    border: solid slategray;
    border-width: 150px 50px 50px 50px;
    margin-left: 0px; 
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    min-height: 737px;
}
h1.title{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2.5em;
}
button.menu {
    background-color: lightgoldenrodyellow;
    border-color: gold;
    border-width: 5px;
    border-style: solid;
    color: black;
    font-size: 1.15em; 
    float: left;
    top: 50px;
    width: 14.285%;
}
button.menu:hover {
    background-color: rgb(255, 214, 109);
    color: white;
}
a.menu{
    color: #8f5600;
}
button.selected {
    background-color: lightgoldenrodyellow;
    font-size: 1.15em; 
    float: left;
    top: 50px;
    width: 14.285%;
    color: black;
    border-color: saddlebrown;
    border-width: 5px;
    border-style: solid;
}
button.selected:hover {
    background-color: rgb(255, 214, 109);
    color: white;
}
img.github{
    position: absolute;
    top: 10px;
    right: 100px;
    height: 120px;
    width: 120px;
}
p {
    text-indent: 80px;
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
}

h3{
    text-align: center;
}
ul{
    text-align: left;
    margin-left: 25%;
}
